.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
       flex: 1 1 auto;
       text-align: center;
       font-family: 'Titillium Web', sans-serif;
       font-weight: bold;
       font-size: 45px;
       text-decoration: underline;
}

.example-fill-remaining-space2 {
       flex: 1 1 auto;
       text-align: center ;
       font-family: 'Titillium Web', sans-serif;
       position: relative;
       font-size: 20px;
       right: 0px;
       bottom: 31px;
}
     