<br>
<br>
<div align="center">
<ng-container *ngIf="show">
    <img src="./assets/image/0001.jpg" alt="res" height="1000" width="800" >
            </ng-container>
        </div>

<table style="font-family: 'Satisfy', cursive; color: white; font-size: 40px;border-color: #4e65e7; border-radius: 20px; height: 600px; margin-right: auto; margin-left: auto;" border="6" width="1000" cellspacing="0" cellpadding="12"><caption >&nbsp;</caption>
    <tbody>
    <tr>
    <td style="width: 500px; text-align: center;" >
        <div id = "home">
            <br>
            <br>
            <p>  "The most beautful things in the world cannot be seen
            or even be touched. They must be felt by the heart."</p>
             <button (click)="Dotoggle()" id="bt3"> {{show ? 'Hide Resume':'Resume Quick View'}}</button>
                      
    </div>

    </td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
